{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}B.O.X.E.S. Data{% endblock %}</h1>
    <a class="action" href="{{ url_for('scores.create') }}">Create New User</a>

  
{% endblock %}
{% block content %}
<table> 
  <thead> 
  <tr> 
      <th>Name</th> 
      <th>User ID</th>
      <th>Update</th>
      <th>Delete</th>
  </tr> 
  </thead> 
  <tbody> 
      {% for row in scores %}  
          <tr> 
              <td>{{row[0]}}</td> 
              <td>{{row[1]}}</td> 
              <td><a class="action" href="{{ url_for('scores.update', id=row[0]) }}">Update</a></td>
              <td><a class="action" href="{{ url_for('scores.delete', id=row[0]) }}">Delete</a></td>
          </tr> 
      {% endfor %} 
  </tbody> 
</table> 
{% endblock %}