{% extends "base.html" %}

{% block body %}
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/BoxesGame.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/BoardData.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/BoardUtils.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/Level.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/LevelEditor.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/LevelPlayer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/MainMenuScene.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/MiniMenuScene.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/MusicManager.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/Testing.js') }}"></script>

  <div id="phaserCanvas" class="container-fluid text-center mt-3"></div>
  <h1 class="dark-text">>Controls</h1>
  <p class="dark-text">Use WASD to move</p>
  <br>
  <p class="dark-text">Push all the boxes onto the blue pressure plates to win!</p>
  <br>
  <p class="dark-text">Press 'r' to reset the level if you get stuck!</p>

  <h1 class="dark-text">>Credits (scroll down)</h1>
  <p class="dark-text">Programming and management</p>
  <br>
  <p class="dark-text">Jet Thompson, Jonathan Andersen-Taylor, Abdulrahman Mohammed Almuwarraee, Aidan Brown, Joss Blumberg</p>
  <br>
  <p class="dark-text">Music and Sound</p>
  <p class="dark-text">Daniel Wangusi, Noah Stuehler</p>
{% endblock %}