{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}B.O.X.E.S. Data{% endblock %}</h1>
    <a class="action" href="{{ url_for('create.createIndex') }}">Create New User</a>
{% endblock %}

{% block body %}
<table> 
  <thead> 
  <tr> 
      <th>Name</th> 
      <th>User ID</th>
      <th>Level 1 Score</th>
      <th>Level 2 Score</th>
      <th>Level 3 Score</th>
      <th>Level 4 Score</th>
      <th>Level 5 Score</th>
      <th>Update</th>
      <th>Delete</th>
  </tr> 
  </thead> 
  <tbody> 
      {% for row in tableData %}  
          <tr> 
              <td>{{row[0]}}</td> 
              <td>{{row[6]}}</td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
              <td><a class="action" href="{{ url_for('update.updateUser', id=row[6]) }}">Update</a></td>
              <td><a class="action" href="{{ url_for('update.deleteUser', id=row[6]) }}">Delete</a></td>
          </tr> 
      {% endfor %} 
  </tbody> 
</table> 
{% endblock %}